<div class="table-responsive">
  <table class="table table-striped mb-5" id="proveedores-body">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Razón Social</th>
        <th scope="col">Rubro</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Provincia</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Direccion</th>
        <th scope="col">Cuit</th>
        <th scope="col">IVA</th>
        <th scope="col">Editar/Eliminar</th>
      </tr>
    </thead>
    <tbody *ngFor="let provider of providersData">
      <tr>
        <th scope="col"> {{provider.id}} </th>
        <th scope="col"> {{provider.name}} </th>
        <th scope="col"> {{provider.field}} </th>
        <th scope="col"> {{provider.email}} </th>
        <th scope="col"> {{provider.phone}} </th>
        <th scope="col"> {{provider.state}} </th>
        <th scope="col"> {{provider.city}} </th>
        <th scope="col"> {{provider.adress}} </th>
        <th scope="col"> {{provider.cuit}} </th>
        <th scope="col"> {{provider.iva}} </th>
      </tr>
    </tbody>
  </table>
</div>
