<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered d mb-5" id="ordenes-body">
    <thead>
      <tr>
        <th scope="col">Nro. orden</th>
        <th scope="col">Fecha emision</th>
        <th scope="col">Fecha entrega</th>
        <th scope="col">Direccion</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col">Editar/Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersData">
        <td scope="col">{{order.id}}</td>
        <td scope="col">{{order.emDate | date : 'short'}}</td>
        <td scope="col">{{order.reDate | date : 'short'}}</td>
        <td scope="col">{{order.address}}</td>
        <td scope="col">{{order.provider}}</td>
        <td scope="col">{{order.product}}</td>
        <td scope="col">{{order.amount}}</td>
        <td scope="col">{{order.total}}</td>
        <td scope="col">
          <div class="d-flex btn-group btn-group-sm ">
            <button class="btn btn-outline-warning ">Editar</button>
            <button class="btn btn-outline-danger">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>  
</div>