<div class="table-responsive">
  <table class="table table-striped mb-5" id="ordenes-body">
    <thead>
      <tr>
        <th scope="col">Nro. orden</th>
        <th scope="col">Fecha emision</th>
        <th scope="col">Fecha entrega</th>
        <th scope="col">Direccion</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Productos</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col">Editar/Eliminar</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>  
</div>