<div class="mb-5">
  <h3>Agregar Productos</h3>
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agregar productos</li>
    </ol>
</nav>
</div>
<div
*ngIf="sku.errors?.['required'] || name.errors?.['required'] || price.errors?.['required'] || provider.errors?.['required']"
class="col-auto my-3"
>
<span class="form-text text-white"
  >Todos los campos marcados con un * son obligatorios</span
>
</div>
<form
  #productForm="ngForm"
  (ngSubmit)="pushProducts(productForm)"
  class="row g-3"
>


<div class="row my-3">
  <div class="col-md-3">
    <label for="provider-id" class="form-label">Código de Proveedor *</label>
    <select
      id="provider-id"
      class="form-select"
      (change)="onProviderChange(provider)"
      #provider="ngModel"
      [(ngModel)]="selectedSupplierCode"
      name="supplier_id"
      required
      [class.is-valid]="provider.valid && provider.touched"
      [class.is-invalid]="provider.touched && product.supplier_id==0"
    > 
      <option *ngFor="let provider of providers" [ngValue]="provider">
        {{ provider.name }}
      </option>
    </select>
    <div class="position-absolute">
      <span *ngIf="provider?.errors?.['required'] && provider.touched" class="font-weight-light form-text">
        Código de Proveedor es obligatorio.
      </span>
      <span *ngIf="provider?.errors?.['minlength'] && provider.touched" class="font-weight-light form-text">
        Necesita {{ provider?.errors?.['minlength']?.requiredLength }} caracteres como mínimo.
      </span>
    </div>
  </div>

  <div class="col-md-9 position-relative">
    <label for="codigo-producto" class="form-label">S.K.U. *</label>
    <input
      type="text"
      id="codigo-producto"
      class="form-control"
      #sku="ngModel"
      [(ngModel)]="product.sku"
      name="sku"
      required
      [class.is-valid]="sku.valid && sku.touched"
      [class.is-invalid]="sku.touched && sku.invalid"
    />
    <div class="position-absolute">
      <span *ngIf="sku?.errors?.['required'] && sku.touched" class="font-weight-light form-text">
        S.K.U. es obligatorio.
      </span>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-4">
    <label for="categoria" class="form-label">Categoría*</label>
    <div class="d-flex justify-content-center align-items-center ">
      <select
      class="form-select"
      name="category"
      #category="ngModel"
      [(ngModel)]="selectedCategory"
      id="category"
      required
      (change)="onCategoryChange(category)"
      [class.is-valid]="category.valid && category.touched"
      [class.is-invalid]="category.touched && category.invalid"
    >
      <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
    </select>
    <button
    class="btn btn-outline-primary mx-1"
    data-bs-toggle="modal"
    data-bs-target="#categoryModal"
  >
    <mat-icon>add</mat-icon>
  </button>
    </div>
    <div class="position-absolute">
      <span *ngIf="category?.errors?.['required'] && category.touched" class="font-weight-light form-text">
        La Categoría es obligatoria.
      </span>
    </div>
  </div>

  <div class="col-md-8">
    <label for="nombre-producto" class="form-label"
      >Nombre del Producto *</label
    >
    <input
      type="text"
      id="name"
      class="form-control"
      #name="ngModel"
      [(ngModel)]="product.name"
      name="name"
      required
      [class.is-valid]="name.valid && name.touched"
      [class.is-invalid]="name.touched && name.invalid"
    />
    <div class="position-absolute">
      <span *ngIf="name?.errors?.['required'] && name.touched" class="font-weight-light form-text">
        El Nombre del Producto es obligatorio.
      </span>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-7">
    <label for="description" class="form-label">Descripción</label>
    <input
      type="text"
      id="description"
      class="form-control"
      #description="ngModel"
      [(ngModel)]="product.description"
      name="description"
      [class.is-valid]="description.valid && description.touched"
      [class.is-invalid]="description.touched && description.invalid"
    />
  </div>

  <div class="col-md-5">
    <label for="price" class="form-label">Precio *</label>
    <input
      type="text"
      id="price"
      class="form-control"
      #price="ngModel"
      [(ngModel)]="product.price"
      name="price"
      pattern="[0-9]+(\.[0-9]+)?"
      required
      [class.is-valid]="price.valid && price.touched"
      [class.is-invalid]="price.touched && price.invalid"
    />
    <div class="position-absolute">
      <span *ngIf="price?.errors?.['required'] && price.touched" class="font-weight-light form-text">
        El Precio es obligatorio.
      </span>
      <span *ngIf="price?.errors?.['pattern'] && price.touched" class="font-weight-light form-text">
        Debe ingresar un precio numérico.
      </span>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-12">
    <label for="url" class="form-label">Url imagen</label>
    <input
      type="text"
      id="url"
      class="form-control"
      #url="ngModel"
      [(ngModel)]="product.url"
      name="url"
      [class.is-valid]="url.valid && url.touched"
      [class.is-invalid]="url.touched && url.invalid"
    />
  </div>
</div>

  <div class="row d-flex justify-content-evenly align-items-center mt-3">
    <input
      type="button"
      value="Limpiar"
      id="clear-provider"
      class="btn w-25 btn-outline-danger"
      (click)="productForm.resetForm()"
    />
    <input
      type="submit"
      value="Agregar"
      id="add-provider"
      class="btn w-25 btn-outline-success"
    />
  </div>
  <ngb-alert
    *ngIf="showError"
    type="danger"
    [dismissible]="false"
    class="w-25 position-fixed top-0 end-0"
    ><mat-icon>error</mat-icon>{{ message }}</ngb-alert
  >
  <ngb-alert
    *ngIf="showSuccess"
    type="success"
    [dismissible]="false"
    class="w-25 position-fixed top-0 end-0"
    ><mat-icon>done</mat-icon> {{ message }}</ngb-alert
  >
</form>

<div
  class="modal fade"
  id="categoryModal"
  tabindex="-1"
  aria-labelledby="categoryModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
        Agregar categorías
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center align-items-center g-2">
        <div class="col-12 col-md-8">
          <div *ngIf="categories.length == 0" class="alert alert-primary m-5" role="alert">
            Parece que no hay datos cargados
          </div>
          <div
            class="table-responsive d-flex justify-content-center align-items-center"
          >
            <div style="max-height: 70vh; min-width: 45vw">
              <table
                class="table table-hover table-striped table-bordered"
                style="height: 100px !important"
                *ngIf="categories.length > 0"
              >
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody *ngFor="let category of categories">
                  <tr *ngIf="category.deleted == false">
                    <td scope="col">
                      <ng-container
                        *ngIf="
                          category.editing === false || category.editing === undefined
                        "
                      >
                        {{ category.name }}
                      </ng-container>
                      <ng-container *ngIf="category.editing === true">
                        <form action="">
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="category.name"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </form>
                      </ng-container>
                    </td>
                    <td scope="col" style="width: 100px">
                      <div class="btn-group btn-group-sm">
                        <ng-container
                          *ngIf="
                            category.editing === false || category.editing === undefined
                          "
                        >
                          <button
                            type="button"
                            class="btn btn-outline-warning"
                            (click)="switchToInputCategory(category)"
                          >
                            <mat-icon>mode_edit_icon</mat-icon>
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-danger"
                            (click)="deleteCategory(category)"
                          >
                            <mat-icon>delete</mat-icon>
                          </button>
                        </ng-container>
                        <ng-container *ngIf="category.editing === true">
                          <button
                            type="button"
                            class="btn btn-outline-success"
                            (click)="updateCategory(category)"
                          >
                            <mat-icon>done</mat-icon>
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-danger"
                            (click)="switchToInputCategory(category); cancelEditingCategory(category)"
                          >
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <form action="" #categoryForm="ngForm">
            <label for="tax-input">Categoría</label>
            <div
              class="d-flex justify-content-center align-items-center mt-2"
            >
            <input
            type="text"
            class="form-control"
            name="category"
            #newCategoryModel="ngModel"
            [(ngModel)]="newCategory.name"
          />
              <button
                (click)="postCategory(newCategory)"
                class="btn btn-outline-primary mx-1"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>