<div class="mb-5">
  <h3>Agregar Proveedores</h3>
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agregar proveedores</li>
    </ol>
</nav>
</div>
<form
  #providerForm="ngForm"
  (ngSubmit)="pushProvidersData(providerForm)"
  class="row g-3 needs-validation"
>
  <div class="row">
    <div class="col-12">
      <h5>Datos del Proveedor</h5>
      <hr />
    </div>
  </div>
  <div class="row">
    <div
      *ngIf="supplierCode.errors?.['required'] || name.errors?.['required'] || field.errors?.['required'] || email.errors?.['required'] || phone.errors?.['required'] || country.errors?.['required'] || state.errors?.['required'] || cp.errors?.['required'] || address.errors?.['required'] || cuit.errors?.['required'] || iva.errors?.['required'] || contactName.errors?.['required'] || contactLastName.errors?.['required']"
      class="col-12 my-2"
    >
      <span class="form-text text-white"
        >Todos los campos marcados con un * son obligatorios</span
      >
    </div>
  </div>
  <ngb-alert
    *ngIf="showError"
    type="danger"
    [dismissible]="false"
    class="w-25 position-fixed top-0 end-0"
    ><mat-icon>error</mat-icon>{{ message }}</ngb-alert
  >
  <ngb-alert
    *ngIf="showSuccess"
    type="success"
    [dismissible]="false"
    class="w-25 position-fixed top-0 end-0"
    ><mat-icon>done</mat-icon> {{ message }}</ngb-alert
  >
  <div class="row my-3">
    <div class="col-md-3">
      <label for="codigo" class="form-label">Código *</label>
      <input
        type="text"
        [(ngModel)]="provider.supplierCode"
        supplierCode="codigo"
        class="form-control"
        name="supplierCode"
        #supplierCode="ngModel"
        required
        minlength="4"
        [class.is-valid]="supplierCode.valid && supplierCode.touched && isUniqueId(provider.supplierCode)"
        [class.is-invalid]="supplierCode.touched && (supplierCode.invalid || !isUniqueId(provider.supplierCode))"
      />
      <div class="position-absolute">
        <span
          *ngIf="supplierCode?.errors?.['required'] && supplierCode.touched"
          class="font-weight-light form-text"
        >
          Código de Proveedor es obligatorio.
        </span>
        <span
          *ngIf="supplierCode?.errors?.['minlength'] && supplierCode.touched"
          class="font-weight-light form-text"
        >
          Necesita
          {{ supplierCode?.errors?.['minlength']?.requiredLength }} caracteres.
        </span>
        <span
        *ngIf="!isUniqueId(provider.supplierCode) && supplierCode.touched"
        class="font-weight-light form-text"
      >
        Ya existe un proveedor con ese código
      </span>
      </div>
    </div>

    <div class="col-md-4">
      <label for="razon-social" class="form-label">Razón Social *</label>
      <input
        type="text"
        [(ngModel)]="provider.name"
        id="razon-social"
        class="form-control"
        name="name"
        #name="ngModel"
        required
        [class.is-valid]="name.valid && name.touched"
        [class.is-invalid]="name.touched && name.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="name?.errors?.['required'] && name.touched"
          class="font-weight-light form-text"
        >
          Razón Social es obligatorio.
        </span>
      </div>
    </div>

    <div class="col-md-5">
      <label for="field" class="form-label">Rubro *</label>
      <div class="d-flex">
        <select
          id="field"
          [(ngModel)]="selectedField"
          class="form-select"
          name="field"
          #field="ngModel"
          required
          (change)="changeSelectedField()"
          [class.is-valid]="field.valid && (field.touched || field.dirty)"
          [class.is-invalid]="field.touched && field.invalid"
        >
          <option [ngValue]="null" disabled selected>
            Seleccione un rubro...
          </option>
          <option *ngFor="let field of fieldData" [ngValue]="field">
            {{ field.name }}
          </option>
        </select>
        <button
          class="btn btn-outline-primary mx-1"
          data-bs-toggle="modal"
          data-bs-target="#fieldModal"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="position-absolute">
        <span
          *ngIf="field?.errors?.['required'] && field.touched"
          class="font-weight-light form-text"
        >
          Código de Proveedor es obligatorio.
        </span>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-6">
      <label for="email" class="form-label">Email *</label>
      <input
        type="email"
        [(ngModel)]="provider.email"
        id="email"
        class="form-control"
        name="email"
        #email="ngModel"
        required
        email
        [class.is-valid]="email.valid && email.touched"
        [class.is-invalid]="email.touched && email.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="email?.errors?.['required'] && email.touched"
          class="font-weight-light form-text"
        >
          Email es obligatorio.
        </span>
        <span
          *ngIf="email?.errors?.['email'] && email.touched"
          class="font-weight-light form-text"
        >
          Por favor, ingrese un email válido.
        </span>
      </div>
    </div>

    <div class="col-md-6">
      <label for="telefono" class="form-label">Teléfono *</label>
      <input
        type="text"
        [(ngModel)]="provider.phone"
        id="telefono"
        class="form-control"
        name="phone"
        #phone="ngModel"
        required
        pattern="[0-9]+"
        minlength="10"
        [class.is-valid]="phone.valid && phone.touched"
        [class.is-invalid]="phone.touched && phone.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="phone?.errors?.['required'] && phone.touched"
          class="font-weight-light form-text"
        >
          Teléfono es obligatorio.
        </span>
        <span
          *ngIf="phone?.errors?.['pattern'] && phone.touched"
          class="font-weight-light form-text"
        >
          Teléfono debe ser numérico, no ingrese simbolos ni espacios.
        </span>
        <span
          *ngIf="phone?.errors?.['minlength'] && phone.touched"
          class="font-weight-light form-text"
        >
          Teléfono debe tener como minimo 10 caracteres
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 pt-5">
      <h5>Datos Ubicación</h5>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="country" class="form-label">Pais *</label>
      <select
        id="country"
        [(ngModel)]="selectedCountry"
        class="form-select"
        name="country"
        (change)="changeSelectedCountry()"
        #country="ngModel"
        required
        [class.is-valid]="country.valid && country.touched"
        [class.is-invalid]="country.touched && country.invalid"
      >
        <option [ngValue]="null" disabled selected>
          Seleccione un país...
        </option>
        <option *ngFor="let country of countries" [ngValue]="country">
          {{ country.name }}
        </option>
      </select>
      <div class="position-absolute">
        <span
          *ngIf="country?.errors?.['required'] && country.touched"
          class="font-weight-light form-text"
        >
          País es obligatorio.
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <label for="state" class="form-label">Provincia *</label>
      <select
        id="state"
        [(ngModel)]="selectedState"
        class="form-select"
        name="state"
        (change)="changeSelectedState()"
        #state="ngModel"
        required
        [class.is-valid]="state.valid && state.touched"
        [class.is-invalid]="state.touched && state.invalid"
      >
        <option [ngValue]="null" disabled selected>
          Seleccione una provincia...
        </option>
        <option *ngFor="let state of states" [ngValue]="state">
          {{ state.name }}
        </option>
      </select>
      <div class="position-absolute">
        <span
          *ngIf="state?.errors?.['required'] && state.touched"
          class="font-weight-light form-text"
        >
          Provincia es obligatoria.
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <div *ngIf="!showOtherCityInput">
        <label for="city" class="form-label">Ciudad</label>
        <select
          id="city"
          [(ngModel)]="selectedCity"
          class="form-select"
          name="city"
          #city="ngModel"
          [class.is-valid]="city.valid && city.touched"
          [class.is-invalid]="city.touched && city.invalid"
          (change)="changeSelectedCity()"
          required
        >
          <option [ngValue]="null" disabled selected>
            Seleccione un rubro...
          </option>
          <option *ngFor="let city of cities" [ngValue]="city">
            {{ city.name }}
          </option>
        </select>
        <div class="position-absolute">
          <span
            *ngIf="!showOtherCityInput && city?.errors?.['required'] && city.touched"
            class="font-weight-light form-text"
          >
            Ciudad es obligatoria.
          </span>
        </div>
      </div>

      <div *ngIf="showOtherCityInput">
        <label for="otherCity" class="form-label">Ciudad</label>
        <input
          type="text"
          [(ngModel)]="selectedCity"
          id="otherCity"
          class="form-control"
          name="city"
          #otherCity="ngModel"
          required
          placeholder="Escriba su ciudad..."
          (blur)="changeSelectedCity()"
          [class.is-valid]="otherCity.valid && otherCity.touched"
          [class.is-invalid]="otherCity.touched && otherCity.invalid"
        />
        <div class="position-absolute">
          <span
            *ngIf="showOtherCityInput && otherCity?.errors?.['required'] && otherCity.touched"
            class="font-weight-light form-text"
          >
            Por favor, ingrese una ciudad.
          </span>
        </div>
      </div>

      <div class="d-flex mt-4 align-items-center">
        <input
          type="checkbox"
          [(ngModel)]="showOtherCityInput"
          class="form-check me-2"
          id="otherCityCheckbox"
          name="otherCityCheckbox"
          (change)="toggleOtherCityInput()"
        />
        <p class="form-text m-0">Quiero ingresar otra ciudad</p>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-2">
      <label for="cp" class="form-label">Código Postal *</label>
      <input
        type="text"
        [(ngModel)]="provider.address.cp"
        id="cp"
        class="form-control"
        name="cp"
        #cp="ngModel"
        required
        [class.is-valid]="cp.valid && cp.touched"
        [class.is-invalid]="cp.touched && cp.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="cp?.errors?.['required'] && cp.touched"
          class="font-weight-light form-text"
        >
          Código Postal es obligatorio.
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="direccion" class="form-label">Dirección *</label>
      <input
        type="text"
        [(ngModel)]="provider.address.street"
        id="direccion"
        class="form-control"
        name="address"
        #address="ngModel"
        required
        [class.is-valid]="address.valid && address.touched"
        [class.is-invalid]="address.touched && address.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="address?.errors?.['required'] && address.touched"
          class="font-weight-light form-text"
        >
          Dirección es obligatoria.
        </span>
      </div>
    </div>

    <div class="col-md-2">
      <label for="direccion" class="form-label">Numero *</label>
      <input
        type="text"
        [(ngModel)]="provider.address.number"
        id="number"
        class="form-control"
        name="number"
        #number="ngModel"
        required
        [class.is-valid]="number.valid && number.touched"
        [class.is-invalid]="number.touched && number.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="number?.errors?.['required'] && number.touched"
          class="font-weight-light form-text"
        >
          Número es obligatorio.
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 pt-5">
      <h5>Datos Fiscales</h5>
      <hr />
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-6">
      <label for="cuit" class="form-label">CUIT *</label>
      <input
        type="text"
        [(ngModel)]="provider.cuit"
        id="cuit"
        class="form-control"
        name="cuit"
        #cuit="ngModel"
        required
        pattern="[0-9]+"
        minlength="11"
        maxlength="11"
        [class.is-valid]="cuit.valid && cuit.touched && isUniqueAndNumericCUIT(provider.cuit)"
        [class.is-invalid]="cuit.touched && (cuit.invalid || cuit.errors?.['pattern'] || !isUniqueAndNumericCUIT(provider.cuit))"
      />
      <div class="position-absolute">
        <span
          *ngIf="cuit?.errors?.['required'] && cuit.touched"
          class="font-weight-light form-text"
        >
          CUIT es obligatorio.
        </span>
        <span
          *ngIf="cuit?.errors?.['pattern'] && cuit.touched"
          class="font-weight-light form-text"
        >
          CUIT debe ser numérico.
        </span>
        <span
          *ngIf="cuit?.errors?.['minlength'] && cuit.touched"
          class="font-weight-light form-text"
        >
          CUIT debe tener exactamente 11 caracteres.
        </span>
        <span
        *ngIf="!isUniqueAndNumericCUIT(provider.cuit) && cuit.touched"
        class="font-weight-light form-text"
      >
        CUIT debe ser único
      </span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="iva" class="form-label">Condición I.V.A. *</label>
      <div class="d-flex">
        <select
          name="iva"
          [(ngModel)]="selectedTax"
          id="iva"
          class="form-select"
          #iva="ngModel"
          required
          (change)="changeSelectedTax()"
          [class.is-valid]="iva.valid && iva.touched"
          [class.is-invalid]="iva.touched && iva.invalid"
        >
          <option [ngValue]="null" disabled selected>
            Seleccione una condición...
          </option>
          <option *ngFor="let condicion of IVAData" [ngValue]="condicion">
            {{ condicion.id }}:{{ condicion.name }}
          </option>
        </select>
        <button
          class="btn btn-outline-primary mx-1"
          data-bs-toggle="modal"
          data-bs-target="#taxModal"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="position-absolute">
        <span
          *ngIf="iva?.errors?.['required'] && iva.touched"
          class="font-weight-light form-text"
        >
          Condición I.V.A. es obligatoria.
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 pt-5">
      <h5>Datos de contacto</h5>
      <hr />
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-6">
      <label for="nombre-contacto" class="form-label"
        >Nombre del Contacto *</label
      >
      <input
        type="text"
        [(ngModel)]="provider.contact.contactName"
        id="nombre-contacto"
        class="form-control"
        name="contactName"
        #contactName="ngModel"
        required
        [class.is-valid]="contactName.valid && contactName.touched"
        [class.is-invalid]="contactName.touched && contactName.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="contactName?.errors?.['required'] && contactName.touched"
          class="font-weight-light form-text"
        >
          Nombre del Contacto es obligatorio.
        </span>
      </div>
    </div>

    <div class="col-md-6">
      <label for="apellido-contacto" class="form-label"
        >Apellido del Contacto *</label
      >
      <input
        type="text"
        [(ngModel)]="provider.contact.contactLastName"
        id="apellido-contacto"
        class="form-control"
        name="contactLastName"
        #contactLastName="ngModel"
        required
        [class.is-valid]="contactLastName.valid && contactLastName.touched"
        [class.is-invalid]="contactLastName.touched && contactLastName.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="contactLastName?.errors?.['required'] && contactLastName.touched"
          class="font-weight-light form-text"
        >
          Apellido del Contacto es obligatorio.
        </span>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-3">
      <label for="sitio-web" class="form-label">Email del contacto*</label>
      <input
        type="text"
        [(ngModel)]="provider.contact.contactEmail"
        id="contactEmail"
        class="form-control"
        name="contactEmail"
        #contactEmail="ngModel"
        required
        [class.is-valid]="contactEmail.valid && contactEmail.touched"
        [class.is-invalid]="contactEmail.touched && contactEmail.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="contactEmail?.errors?.['required'] && contactEmail.touched"
          class="font-weight-light form-text"
        >
          Email del Contacto es obligatorio.
        </span>
        <span
          *ngIf="contactEmail?.errors?.['email'] && contactEmail.touched"
          class="font-weight-light form-text"
        >
          Por favor, ingrese un email válido.
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <label for="sitio-web" class="form-label">Telefono del contacto*</label>
      <input
        type="text"
        [(ngModel)]="provider.contact.contactPhone"
        id="contactPhone"
        class="form-control"
        name="contactPhone"
        #contactPhone="ngModel"
        required
        required
        pattern="[0-9]+"
        minlength="10"
        [class.is-valid]="contactPhone.valid && contactPhone.touched"
        [class.is-invalid]="contactPhone.touched && contactPhone.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="contactPhone?.errors?.['required'] && contactPhone.touched"
          class="font-weight-light form-text"
        >
          Teléfono del Contacto es obligatorio.
        </span>
        <span
          *ngIf="contactPhone?.errors?.['pattern'] && contactPhone.touched"
          class="font-weight-light form-text"
        >
          Teléfono debe ser numérico, no ingrese simbolos ni espacios.
        </span>
        <span
          *ngIf="contactPhone?.errors?.['minlength'] && contactPhone.touched"
          class="font-weight-light form-text"
        >
          Teléfono debe tener como minimo 10 caracteres
        </span>
      </div>
    </div>

    <div class="col-md-3">
      <label for="sitio-web" class="form-label">Rol del contacto*</label>
      <input
        type="text"
        [(ngModel)]="provider.contact.contactRole"
        id="role"
        class="form-control"
        name="contactRole"
        #role="ngModel"
        required
        [class.is-valid]="role.valid && role.touched"
        [class.is-invalid]="role.touched && role.invalid"
      />
      <div class="position-absolute">
        <span
          *ngIf="role?.errors?.['required'] && role.touched"
          class="font-weight-light form-text"
        >
          Rol del Contacto es obligatorio.
        </span>
      </div>
    </div>

    <div class="col-md-3">
      <label for="website" class="form-label">Sitio Web</label>
      <input
        type="text"
        [(ngModel)]="provider.website"
        id="website"
        class="form-control"
        name="website"
        #website="ngModel"
        [class.is-valid]="website.valid && website.touched"
        [class.is-invalid]="website.touched && website.invalid"
      />
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-12">
      <label for="url" class="form-label">URL Logo</label>
      <input
        type="text"
        [(ngModel)]="provider.url"
        id="url"
        class="form-control"
        name="url"
        #url="ngModel"
        [class.is-valid]="url.valid && url.touched"
        [class.is-invalid]="url.touched && url.invalid"
      />
    </div>
  </div>
  <div class="row d-flex justify-content-evenly align-items-center my-5">
    <input
      type="button"
      value="Limpiar"
      (click)="providerForm.resetForm()"
      id="clear-provider"
      class="btn w-25 btn-outline-danger"
    />
    <input
      type="submit"
      value="Agregar"
      id="add-provider"
      class="btn w-25 btn-outline-success"
    />
  </div>
  <div class="col-auto">
    <span
      *ngIf="supplierCode.errors?.['minlength']"
      class="form-text text-danger"
      >Codigo debe tener al menos 4 caracteres</span
    >
  </div>
</form>

<div
  class="modal fade"
  id="fieldModal"
  tabindex="-1"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar rubros</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center align-items-center g-2">
          <div class="col-12 col-md-8">
            <div
              *ngIf="fieldData.length == 0"
              class="alert alert-primary m-5"
              role="alert"
            >
              Parece que no hay datos cargados
            </div>
            <div
              class="table-responsive d-flex justify-content-center align-items-center"
            >
              <div style="max-height: 70vh; min-width: 45vw">
                <table
                  class="table table-hover table-striped table-bordered"
                  style="height: 100px !important"
                  *ngIf="fieldData.length > 0"
                >
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let field of fieldData">
                    <tr *ngIf="field.deleted == false">
                      <td scope="col">
                        <ng-container
                          *ngIf="
                            field.editing === false ||
                            field.editing === undefined
                          "
                        >
                          {{ field.name }}
                        </ng-container>
                        <ng-container *ngIf="field.editing === true">
                          <form action="">
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="field.name"
                              [ngModelOptions]="{ standalone: true }"
                            />
                          </form>
                        </ng-container>
                      </td>
                      <td scope="col" style="width: 100px">
                        <div class="btn-group btn-group-sm">
                          <ng-container
                            *ngIf="
                              field.editing === false ||
                              field.editing === undefined
                            "
                          >
                            <button
                              type="button"
                              class="btn btn-outline-warning"
                              (click)="switchToInputField(field)"
                            >
                              <mat-icon>mode_edit_icon</mat-icon>
                            </button>
                            <button
                              type="button"
                              class="btn btn-outline-danger"
                              (click)="deleteField(field)"
                            >
                              <mat-icon>delete</mat-icon>
                            </button>
                          </ng-container>
                          <ng-container *ngIf="field.editing === true">
                            <button
                              type="button"
                              class="btn btn-outline-success"
                              (click)="updateField(field)"
                            >
                              <mat-icon>done</mat-icon>
                            </button>
                            <button
                              type="button"
                              class="btn btn-outline-danger"
                              (click)="
                                switchToInputField(field); cancelEditingField(field)
                              "
                            >
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </ng-container>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <form action="" #fieldForm="ngForm">
              <label for="field-input">Rubro</label>
              <div
                class="d-flex justify-content-center align-items-center mt-2"
              >
                <input
                  type="text"
                  id="field-input"
                  [(ngModel)]="newField.name"
                  name="field-input"
                  class="form-control"
                />
                <button
                  (click)="postField(newField)"
                  class="btn btn-outline-primary mx-1"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="taxModal"
  tabindex="-1"
  aria-labelledby="taxModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Agregar condición I.V.A.
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center align-items-center g-2">
          <div class="col-12 col-md-8">
            <div
              *ngIf="IVAData.length == 0"
              class="alert alert-primary m-5"
              role="alert"
            >
              Parece que no hay datos cargados
            </div>
            <div
              class="table-responsive d-flex justify-content-center align-items-center"
            >
              <div style="max-height: 70vh; min-width: 45vw">
                <table
                  class="table table-hover table-striped table-bordered"
                  style="height: 100px !important"
                  *ngIf="IVAData.length > 0"
                >
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let tax of IVAData">
                    <tr *ngIf="tax.deleted == false">
                      <td scope="col">
                        <ng-container
                          *ngIf="
                            tax.editing === false || tax.editing === undefined
                          "
                        >
                          {{ tax.name }}
                        </ng-container>
                        <ng-container *ngIf="tax.editing === true">
                          <form action="">
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="tax.name"
                              [ngModelOptions]="{ standalone: true }"
                            />
                          </form>
                        </ng-container>
                      </td>
                      <td scope="col" style="width: 100px">
                        <div class="btn-group btn-group-sm">
                          <ng-container
                            *ngIf="
                              tax.editing === false || tax.editing === undefined
                            "
                          >
                            <button
                              type="button"
                              class="btn btn-outline-warning"
                              (click)="switchToInputTax(tax)"
                            >
                              <mat-icon>mode_edit_icon</mat-icon>
                            </button>
                            <button
                              type="button"
                              class="btn btn-outline-danger"
                              (click)="deleteTax(tax)"
                            >
                              <mat-icon>delete</mat-icon>
                            </button>
                          </ng-container>
                          <ng-container *ngIf="tax.editing === true">
                            <button
                              type="button"
                              class="btn btn-outline-success"
                              (click)="updateTax(tax)"
                            >
                              <mat-icon>done</mat-icon>
                            </button>
                            <button
                              type="button"
                              class="btn btn-outline-danger"
                              (click)="switchToInputTax(tax);cancelEditingTax(tax)"
                            >
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </ng-container>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <form action="" #taxForm="ngForm">
              <label for="tax-input">Condición I.V.A.</label>
              <div
                class="d-flex justify-content-center align-items-center mt-2"
              >
                <input
                  type="text"
                  id="tax-input"
                  [(ngModel)]="newTax.name"
                  name="tax-input"
                  class="form-control"
                />
                <button
                  (click)="postTax(newTax)"
                  class="btn btn-outline-primary mx-1"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
