<form class="row g-3">
    <div class="col-md-6">
      <label for="codigo" class="form-label">Código</label>
      <input type="email" id="codigo" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="codigo" class="form-label">Razón Social</label>
      <input type="email" id="codigo" class="form-control">
    </div>
    <div class="col-12">
      <label for="codigo" class="form-label">Rubro</label>
      <input type="email" id="codigo" class="form-control">
    </div>
    <div class="col-12">
      <label for="codigo" class="form-label">Email</label>
      <input type="email" id="codigo" class="form-control">
    </div>
    <div class="col-md-2">
      <label for="codigo" class="form-label">Teléfono</label>
      <input type="email" id="codigo" class="form-control">
    </div>
    <div class="col-md-3">
      <label for="inputState" class="form-label">Provincia</label>
      <select id="inputState" class="form-select">
        <option selected>Elegir</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="inputState" class="form-label">Ciudad</label>
      <select id="inputState" class="form-select">
        <option selected>Elegir</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="codigo" class="form-label">Dirección</label>
      <input type="email" id="codigo" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="codigo" class="form-label">CUIT</label>
        <input type="email" id="codigo" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="codigo" class="form-label">Condición I.V.A.</label>
      <input type="email" id="codigo" class="form-control">
  </div>
    <div class="row d-flex justify-content-evenly align-items-center mt-3 ">
      <input type="button" value="Limpiar" id="clear-provider" class="btn w-25 btn-outline-danger">
      <input type="submit" value="Agregar" id="add-provider" class="btn w-25 btn-outline-success">
  </div>
  </form>