<form class="row g-3">
  <div class="col-md-6">
    <label for="provider-id" class="form-label">Código de Proveedor</label>
    <select id="provider-id" class="form-select">
      <option selected>Elegir</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="provider-id" class="form-label">Código de Producto</label>
    <select id="provider-id" class="form-select">
      <option selected>Elegir</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-12">
    <label for="codigo" class="form-label">Cantidad</label>
    <input type="text" id="codigo" class="form-control" />
  </div>
  <div class="col-md-6">
    <label for="codigo" class="form-label">Fecha de Emision</label>
    <input type="date" id="codigo" class="form-control" />
  </div>
  <div class="col-md-6">
    <label for="codigo" class="form-label">Fecha de Entrega</label>
    <input type="date" id="codigo" class="form-control" />
  </div>
  <div class="col-12">
    <label for="codigo" class="form-label">Dirección</label>
    <input type="texto" id="codigo" class="form-control" />
  </div>
  <div class="row d-flex justify-content-evenly align-items-center mt-3">
    <input
      type="button"
      value="Limpiar"
      id="clear-provider"
      class="btn w-25 btn-outline-danger"
    />
    <input
      type="submit"
      value="Agregar"
      id="add-provider"
      class="btn w-25 btn-outline-success"
    />
  </div>
</form>
